* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button[type=submit] {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.02em;
}

.flag-image {
    height: 200px;
    margin: 0 auto;
    -webkit-box-shadow: 3px 3px 14px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 14px 0 rgba(0,0,0,0.5);
    box-shadow: 3px 3px 14px 0 rgba(0,0,0,0.5);
}